*{
    margin: 0px;
    padding: 0px;
  }
 
  html {
    font-size: 62.5%;
  }
  ul{
    width: 100vw;
    height: 5rem;
    font-family: cursive;
    list-style-type: none;
    background-color: rgb(11 12 45);
  }
  li{
    text-align: center;
    float: left;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    cursor: pointer;
  }
  .delete{
    float:right;
  }
  .createb1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    margin: 30px;
  }
  .fill {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 12px 34px 12px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    color: white;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .fill::after {
    content: "";
    background-color: #323035;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .fill:hover::after {
    top: 0px;
    left: 0px;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 4rem 2rem 4rem;
    justify-content: space-around;
  
  }
  .boxes{
    background-color: #897986;
    text-align: center;
    height: auto;
    width: 42rem;
    border: 1px solid;
    border-radius: 8px;
    
  }
  
  .boxes h1{
    margin: 1rem;
    padding: 1rem;
    color: white;
    border-radius: 5px;
    font-family: "Lucida Console", "Courier New", monospace;
  }
  .boxes-h{
    min-height: 20rem;
    padding: 0.2rem;
    border-radius: 2%;
  }
  .add-btn{
    
    color: black;
    font-size: 2.2rem;
  }
  .taskd{
    height: 15rem;
    width: 15rem;
    background-color:bisque;
  }
  
  /* createtask */
  .hide-form {
    visibility: hidden;
  }
  .form-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: -80px;
    box-sizing: border-box;
    
  }
  .main-form{
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    font-size: 1.8rem;
    position: absolute;
    top: 30%;
    left: 35%;
   
  }
  .main-form input{
    width: 15rem;
  }
  .child-form{
    display: flex;
    flex-wrap: wrap;
    
    gap: 1rem;
  }
  .child-form label{
    flex: 20%;
  }
  .btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .btn button{
    background-color: rgb(76, 76, 203);
    font-size: 1.4rem;
    padding: .3rem;
    border-radius: 7px;
  }
  .filterbox{
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 2rem;
    margin-bottom: 3rem;
  }
  .filterbox input,select{
    width: 20rem;
    font-size: 1.7rem;
    padding: .4rem;
    font-family: cursive;
  }
  .filterbox button{
    width: 15rem;
    font-size: 1.7rem;
    border-radius: 10px;
    padding: 0.2rem;
    font-size: 2rem;
    background-color: rgb(226 226 226);
    border: none;
    cursor: pointer;
  }
  .filterbox button:hover {
    background-color: rgb(122, 111, 144);
  }
  /* DeleteTask */
  .deleteContainer{
    margin-top: 1.5rem;
    display: flex;
   flex-direction: column;
   text-align: center;
   gap: 1.7rem;
  }
  .dtasks{
    display: flex;
    padding: 1rem;
    background-color: aqua;
    flex-direction: column;
    border: 2px;
    gap: 1rem;
  }
  

  /* form overlay */
  .modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}